@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 770px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  @media (max-width: 768px) {
    padding: 0;
    max-width: 100%;
  }
}

.btn {
  background-color: rgb(197, 83, 58);
  border-color: transparent;
  border-radius: .25rem;
  color: #fff;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding: .375rem .75rem;
}

.btn-link {
  background-color: transparent;
  border-color: transparent;
  color: #4a4a4a;
  font-size: .875rem;
  text-decoration: underline;
}
